* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #7FC9EA;
    color: white;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

#container-oveja-saltando{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.oveja-saltando{
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: -100px;
    animation: sheepJump 2s ease-in-out forwards;
}

@keyframes sheepJump{
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(calc(25vw)) translateY(-100px);
    }
    50% {
        transform: translateX(calc(50vw)) translateY(-50px);
    }
    75% {
        transform: translateX(calc(75vw)) translateY(-100px);
    }
    100% {
        transform: translateX(calc(100vw + 100px)) translateY(0);
    }
}

.sheep-count {
    width: 110px;
}

.container-count{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#count {
    font-size: 11rem;
    max-height: 250;
}

.buttons-count {
    display: flex;
    gap: 20px;
}

#add, #less {
    margin-top: 1rem;
    padding: 5px 40px;
    border: none;
    border-radius: 5px;
    background: white;
    color: #7FC9EA;
    font-size: 4rem;
    font-weight: 600;
    box-shadow: 0 5px 10px rgba(5, 138, 216, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#add:hover, #less:hover {
    transform: scale(0.9);
}

#reset {
    margin-top: 2rem;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0 5px 10px rgba(5, 138, 216, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#reset:hover {
    transform: scale(0.98);
    background: white;
    color: #7FC9EA;
}